* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 300 14px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #5c5c5c;
  background: #FFFFFF;
}

a {
  color: #5c5c5c;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

root {
  display: block;
}

root .loader {
  position: absolute;
  top: 40%;
  left: 45%;
  font-size: 24px;
  display: block;
  text-align: center;
  font-weight: 900;
}

.app {
  margin-left: 250px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
