<md-content layout-padding>
  <form name="postTaskForm" ng-submit="$ctrl.postTask();">
    <div layout-gt-xs="row">
      <md-input-container class="md-block" flex-gt-xs>
        <label>Title</label>
        <input
          required
          name="title"
          ng-model="$ctrl.task.title"
        />
        <div ng-messages="postTaskForm.title.$error">
          <div ng-message="required">
            Please enter Title.
          </div>
        </div>
      </md-input-container>
     </div>
     <div layout-gt-xs="row">
      <md-input-container class="md-block" flex-gt-xs>
        <label>Description</label>
        <input
          required
          name="description"
          ng-model="$ctrl.task.description"
        />
        <div ng-messages="postTaskForm.description.$error">
          <div ng-message="required">
            Please enter Description.
          </div>
        </div>
      </md-input-container>
     </div>
     <div layout-gt-xs="row">
      <md-input-container class="md-block" flex-gt-xs>
        <label>Total</label>
        <input
          required
          name="total"
          type="number"
          ng-model="$ctrl.task.total"
        />
        <div ng-messages="postTaskForm.total.$error">
          <div ng-message="required">
            Please enter Total.
          </div>
        </div>
      </md-input-container>
     </div>
    <md-button
      ng-disabled="postTaskForm.$invalid"
      type="submit"
      class="md-raised md-primary submit-button"
    >Post task</md-button>
  </form>
</md-content>
