@import './../../../../scss/variables';

.navbar {
  position: fixed;
  top: 0;

  &__header {
    &--mobile {
      display: none;

      @media screen and (max-width: $screen-xs-max) {
        display: block;
      }
    }

    &--desktop {
      @media screen and (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }

  &__actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &--flex-end {
      justify-content: flex-end;
    }

    &--auth {
      display: flex;
    }

    &--options {
      display: flex;
    }
  }

  &__select {
    margin: 0;

    & .md-select-icon:after {
      color: #C2DFEE;
    }

    & .md-text {
      display: none !important;
    }

    .md-select-value {
      min-width: 64px;

      @media screen and (max-width: $screen-xs-max) {
        min-width: 0;
        width: auto;

        .md-select-icon {
          padding-right: 10px;
        }
      }
    }
  }

  &__link-button {
    text-transform: capitalize;
  }

  &__user-wrapper {
    left: 35px;
    position: relative;

    @media screen and (max-width: $screen-xs-max) {
      align-items: center;
      display: flex;
      position: static;
    }
  }

  &__user {
    font-size: .9em;

    @media screen and (max-width: $screen-xs-max) {
      padding-right: 5px;
    }
  }

  &__gravatar {
    border-radius: 50%;
    height: 35px;
    object-fit: cover;
    vertical-align: middle;
    width: 35px;
  }
}
