md-card.task-card {
  padding: 0;
  width: 100%;

  h4 {
    text-align: center;
  }

  li {
    & > div {
      align-items: center;
      display: flex;
    }
  }

  md-card-title {
    flex: none;
    color: white;
  }
}
