<md-content layout-padding>
  <div>
    <md-input-container class="search-input">
      <label>Search</label>
      <input ng-model="search">
    </md-input-container>
  </div>

  <div ng-if="$ctrl.loading" layout="row" layout-align="center center">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <mat-list >
    <md-list-item class="md-3-line" ng-repeat="task in $ctrl.tasks | filter: search | orderBy: 'title'" ng-click="null">
      <img ng-src="{{ $ctrl.taskIcon }}" class="md-avatar" alt="Image" />
      <div class="md-list-item-text" layout="column">
        <h3>{{ task.title }}</h3>
        <h4>{{ task.description | limitTo: 20 }}</h4>
        <p>{{ task.total }}</p>
      </div>
    </md-list-item>
  </mat-list>

</md-content>
