<md-sidenav class="md-sidenav-right" md-component-id="messages" md-whiteframe="4">
  <messages task="$ctrl.selectedTask"></messages>
</md-sidenav>

<md-content class="task-browse" layout-padding>
  <div class="task-browse__tasks">
    <div class="task-browse__search-container">
      <md-input-container class="task-browse__search-input">
        <label>Search</label>
        <input ng-model="search">
      </md-input-container>
    </div>
    <div class="task-browse__list custom-scrollbar">
      <h2 class="task-browse__list--empty" ng-if="$ctrl.empty === 0">Task list is empty</h2>
      <mat-list>
        <md-list-item
          class="task-browse__list-item md-3-line"
          ng-class="task.$id === $ctrl.selectedTask.$id ? 'task-browse__list-item--selected' : ''"
          ng-repeat="task in $ctrl.tasks | filter: { title: search, status: '!cancelled' } | orderBy: 'datetime' :true"
          ng-href="#!browse?taskId={{ task.$id }}"
        ><img ng-src="{{ task.photoURL }}" class="md-avatar" alt="Image" />
          <div class="md-list-item-text" layout="column">
            <h3 class="task-browse__list-item--title">{{ task.title | limitTo: 20 }}</h3>
            <h3 am-time-ago="task.datetime"></h3>
          </div>
          <div class="task-browse__payment md-list-item-text" layout="column" layout-align="end center">
            <p>{{ task.total | currency }}</p>
            <h3 class="task-browse__status" ng-class="task.status === 'open' ? '' : 'task-browse__status--closed'"></h3>
          </div>
        </md-list-item>
      </mat-list>
    </div>
  </div>
  <div class="task-browse__details" layout-padding ng-if="$ctrl.selectedTask && $ctrl.empty !== 0">
    <div>
      <div class="task-browse__details--info">
        <h4 ng-click="$ctrl.onOpenMessages();">
          {{ $ctrl.selectedTask.title }}
        </h4>
        <div class="task-browse__creator">
          <img ng-src="{{ $ctrl.selectedTask.photoURL }}" class="md-avatar" alt="Image" />
          <p>Posted by <i>{{ $ctrl.selectedTask.displayName }} - <span am-time-ago="$ctrl.selectedTask.datetime"></i></span></p>&nbsp;
          <h4
            class="task-browse__status"
            ng-class="$ctrl.selectedTask.status === 'open' ? '' : 'task-browse__status--closed'"
          ></h4>
        </div>
      </div>
      <div class="task-browse__details--admin">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <p>{{ $ctrl.selectedTask.total | currency }}</p>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <div ng-if="$ctrl.admin && $ctrl.selectedTask.status === 'open'">
              <md-button ng-click="$ctrl.onUpdate();" class="md-raised">Update</md-button>
              <md-button ng-click="$ctrl.onCancel();" class="md-raised md-warn">Complete</md-button>
            </div>
          </md-card-actions>
        </md-card>
      </div>
    </div>
    <md-card class="task-browse__card-wrapper">
      <md-card-title>
        <md-card-title-text>
          Description
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        {{ $ctrl.selectedTask.description }}
      </md-card-content>
    </md-card>
  </div>
</md-content>

<div class="task-browse__loader" ng-if="$ctrl.loading" layout="row" layout-align="center center">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
