@import './../../../scss/variables';

.task-browse {
  display: flex;
  min-height: 50vh;

  @media screen and (max-width: $screen-xs-max) {
    display: block;

    .task-browse__tasks,
    .task-browse__details {
      max-width: 100%;
      width: 100%;
    }
  }

  &__tasks {
    max-width: 45%;
    width: 45%;
  }

  &__details {
    margin-top: 25px;
    max-width: 55%;
    width: 55%;

    & > div {
      display: flex;

      @media screen and (max-width: $screen-sm-max) {
        display: block;
      }
    }

    &--not-selected {
      background: url('./../../../assets/task.png') no-repeat;
      background-size: cover;
      width: 100%;
    }

    &--admin {
      max-width: 300px;
      width: 60%;

      @media screen and (max-width: 768px) {
        max-width: 100%;
        width: 100%;
      }

      md-card-title {
        background: $grey;
        font-size: 1.35em;
        font-weight: 600;
        text-align: center;
        padding: 5px;

        p {
          margin: 0;
        }
      }

      md-card-actions {
        border-top: 1px solid #E0E0E0;
        padding-top: 10px;
      }
    }

    &--info {
      h4:first-child {
        cursor: pointer;
        margin-bottom: 0;
        outline: none;
        text-decoration: underline;
      }
    }
  }

  &__list {
    max-height: 70vh;
    overflow: auto;

    &--empty {
      color: #8F8D8F;
      text-align: center;
    }

    &-item {
      &--title {
        font-weight: 600 !important;
      }

      &--selected {
        background: $grey;
      }
    }
  }

  &__payment {
    align-items: flex-end;
  }

  &__status {
    background-color: #8F8D8F;
    color: white !important;
    font-size: .8em;
    height: 20px;
    text-align: center;
    width: 60px;

    &--open {
      background-color: $green;

      &::after {
        content: 'open';
      }
    }

    &--cancelled {
      &::after {
        content: 'closed';
      }
    }

    &--assigned {
      background-color: #FF5722;

      &::after {
        content: 'assigned';
      }
    }

    &--completed {
      &::after {
        content: 'completed';
      }
    }
  }

  &__search-container {
    padding: 0;
  }

  &__search-input {
    margin-bottom: 0;
  }

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

  &__creator {
    align-items: center;
    display: flex;
    font-size: .9em;

    span {
      font-size: .85em;
    }

    img {
      border-radius: 50%;
      height: 30px;
      object-fit: cover;
      padding-right: 5px;
      width: 30px;
    }
  }

  &__card-wrapper {
    margin-bottom: 25px;
    padding: 0;

    md-card-title {
      background: $grey;
    }

    md-card-content {
      padding: 10px;
    }
  }
}
